<%- if devise_mapping.used_routes.include?(:session) && controller_name != "sessions" %>
  <p class="mb-2"><%= link_to "Entrar", new_session_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.used_routes.include?(:registration) && controller_name != "registrations" %>
  <p class="mb-2"><%= link_to "Criar conta", new_registration_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.used_routes.include?(:password) && controller_name != "passwords" && controller_name != "registrations" %>
  <p class="mb-2"><%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.used_routes.include?(:confirmation) && controller_name != "confirmations" %>
  <p class="mb-2"><%= link_to "Nao recebeu as instrucoes de confirmacao?", new_confirmation_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.used_routes.include?(:unlock) && controller_name != "unlocks" %>
  <p class="mb-2"><%= link_to "Nao recebeu as instrucoes de desbloqueio?", new_unlock_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <p class="mb-2"><%= button_to "Entrar com #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn btn-outline-secondary w-100" %></p>
  <% end %>
<% end %>
