<p style="color: green"><%= notice %></p>

<%= render @a_distrito %>

<div>
  <%= link_to "Edit this a distrito", edit_a_distrito_path(@a_distrito) %> |
  <%= link_to "Back to a distritos", a_distritos_path %>

  <%= button_to "Destroy this a distrito", @a_distrito, method: :delete %>
</div>
