
<%= simple_form_for(@inscricao) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.association :sexo %>
    <%= f.association :a_distrito %>
    <%= f.association :a_sociedade %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
