<div id="<%= dom_id inscricao %>">
  <div>
    <strong>Nome:</strong>
    <%= inscricao.nome %>
  </div>

  <div>
    <strong>Sexo:</strong>
    <%= inscricao.sexo_id %>
  </div>

  <div>
    <strong>A distrito:</strong>
    <%= inscricao.a_distrito_id %>
  </div>

  <div>
    <strong>A sociedade:</strong>
    <%= inscricao.a_sociedade_id %>
  </div>

</div>
