<p style="color: green"><%= notice %></p>

<%= render @a_sociedade %>

<div>
  <%= link_to "Edit this a sociedade", edit_a_sociedade_path(@a_sociedade) %> |
  <%= link_to "Back to a sociedades", a_sociedades_path %>

  <%= button_to "Destroy this a sociedade", @a_sociedade, method: :delete %>
</div>
